
#include "resource.h"

IDI_GLFWDIAG            ICON            "glfwdiag.ico"

IDC_MAIN MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "Save &As...",         IDM_SAVEAS
        MENUITEM SEPARATOR
        MENUITEM "E&xit",               IDM_EXIT
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "&Copy",               IDM_COPY
        MENUITEM SEPARATOR
        MENUITEM "Select &all",         IDM_SELECTALL
    END
    POPUP "&Test"
    BEGIN
        MENUITEM "&Default window...",  IDM_DEFAULTWINDOW
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About...",           IDM_ABOUT
    END
END

